.contactsList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 33%;
}

.contactsList__item {
    display: flex;
    justify-content: space-between;
}

.contactsList__item:not(:last-child) {
    margin-bottom: 20px;
}

.deleteButton {
}